body {background-color: #F0F0F0; width: 20%;}

@font-face {
    font-family: JacquesFrancois;
    src: url(Fonts/JacquesFrancois.ttf);
}

p {font-family: JacquesFrancois; font-weight: normal; font-size: 125%;}

h1 {font-family: JacquesFrancois; font-weight: normal; font-size: 150%;}

#buttons
{
    background: #FFFFFF;
    width: 38%;
    height: 85%;
    align-content: center;
    float: left; padding-top: 8%; padding-bottom: 8%;
    transform: translateX(0px);
}

#buttons a {text-decoration: none; color: #000000; font-size: 110%;}

@media screen and (min-width: 360px)
{
    #buttons {transform: translateX(-500px); transition: var(--tran-05);}
    
    #info
    {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%); width: 80%;
    }
    
    #container
    {
        width: 100%;
        height: 100%;
        background-color: #F5F5F5;
    }
    
    #toggle_button
    {
        position: absolute;
        left: 0%;
        top: -22px;
        transform: translateY(50%);
        background: #D9D9D9;
        width: 50px; height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
    }
}

@media screen and (min-width: 1290px)
{
    #buttons {transform: translateX(0px); position: fixed;}
    
    #info {width: 50%; position: fixed; top: 45%; left: 70%; transform: translate(-50%, -50%);}
    
    #container
    {
        width: 90%;
        height: 85%;
        position: fixed;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        background-color: #F5F5F5;
        box-shadow: 0 0 6px #333333;
    }
    
    #toggle_button
    {
        /*position: absolute;
        left: 39.5%;
        top: -4%;
        transform: translate(-50%, 50%);
        background: #D9D9D9;
        width: 50px; height: 50px;*/
        display: none;
        /*align-items: center;
        justify-content: center;
        font-size: 22px;*/
    }
}

#info h1 {text-align: center; font-size: 225%;}
#info p {text-align: center; font-size: 150%;}
#cover {width: 25%; height: 25%;}
#program_img {width: 65%; height: 65%;}

#a
{
    background: #868686; text-align: center;
    padding-top: 5%; padding-bottom: 5%;
    float: left;
    width: 100%;
}

#b
{
    background: #B1B1B1; text-align: center;
    padding-top: 5%; padding-bottom: 5%;
    float: left;
    width: 100%;
}

#c
{
    background: #D9D9D9; text-align: center;
    padding-top: 5%; padding-bottom: 5%;
    float: left;
    width: 100%;
}

#d
{
    background: #F2F2F2; text-align: center;
    padding-top: 5%; padding-bottom: 5%;
    float: left;
    width: 100%;
}

#info
{
    opacity: 1;
    animation: fade 1s linear;
}

@keyframes fade
{
    0% {opacity: 0}
    100% {opacity: 1}
}
