body {background-color: #F0F0F0; width: 20%;}

/* Text */
@font-face
{
    font-family: JacquesFrancois;
    src: url(Fonts/JacquesFrancois.ttf);
}

p {font-family: JacquesFrancois; font-weight: normal; font-size: 125%;}
h1 {font-family: JacquesFrancois; font-weight: normal; font-size: 150%;}
.buttons a {text-decoration: none; color: #000000; font-size: 150%;}
#info h1 {text-align: center; font-size: 225%;}
#info p {text-align: center; font-size: 150%;}
#cover {width: 25%; height: 25%;}
#program_img {width: 65%; height: 65%;}

#menu
{
    opacity: 0;
    visibility: hidden;
}

#container
{
    opacity: 1;
    visibility: visible;
}

.buttons
{
    background: #FFFFFF;
    width: 38%; height: 100%;
    float: left;
    left: 0%; top: 0%;
    position: absolute;
    align-content: center;
    overflow-y: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    z-index: 2;
}

input
{
    opacity: 0;
    visibility: hidden;
}

#menu:checked ~ .buttons
{
    opacity: 1;
    visibility: visible;
}

input[type=checkbox]:checked ~ label
{
    transform: translateX(38%);
}

.buttons::-webkit-scrollbar {display: none;}

#container::-webkit-scrollbar {display: none;}

@media screen and (min-width: 360px)
{
    .buttons
    {
        transform: translateX(0px);
        transition: all 500ms ease;
        opacity: 0;
        visibility: hidden;
    }
    
    #info
    {
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: 60%;
        height: 60%;
        z-index: 1;
    }
    
    #container
    {
        width: 100%;
        height: 100%;
        background-color: #F0F0F0;
    }

    .toggle_button
    {
        -webkit-touch-callout: none; /* iOS Safari */
        -webkit-user-select: none;   /* Chrome/Safari/Opera */
        -khtml-user-select: none;    /* Konqueror */
        -moz-user-select: none;      /* Firefox */
        -ms-user-select: none;       /* Internet Explorer/Edge */
        user-select: none;           /* Non-prefixed version, currently supported by any browser but < IE9 */
        cursor: pointer;
        top: 0px;
        transform: translate(5%, 5%);
        background: #D9D9D9;
        width: 86px; height: 86px;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 22px;
        /* transition: all 500ms ease; */
    }
}

@media screen and (min-width: 1290px)
{
    .buttons
    {
        background: #FFFFFF;
        width: 36%;
        height: 85%; /* make this take up full space */
        position: fixed; top: 50%; left: 23%;
        transform: translate(-50%, -50%);
        padding-top: 8%; /* added the padding back */
        padding-bottom: 8%;
        display: flex; /* turns this into a flex container */
        flex-direction: column; /* makes children flex up and down */
        box-sizing: border-box; /* makes it so that height: 100% works correctly again */
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
        opacity: 1;
        visibility: visible;
        transition: none;
    }
    
    #info
    {
        width: 50%;
        height: 60%;
        position: fixed; top: 50%; left: 70%;
        transform: translate(-50%, -50%);
    }

    #container
    {
        width: 90%;
        height: 85%;
        position: fixed;
        top: 50%; left: 50%; transform: translate(-50%, -50%);
        background-color: #F5F5F5;
        box-shadow: 0 0 6px #333333;
        overflow-y: scroll;
        scrollbar-width: none;
        -ms-overflow-style: none;
    }

    #toggle_button
    {
        opacity: 0;
        visibility: hidden;
    }
}

#a
{
    background: #868686; text-align: center;
    padding-top: 5%; padding-bottom: 5%;
    float: left;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#b
{
    background: #B1B1B1; text-align: center;
    padding-top: 5%; padding-bottom: 5%;
    float: left;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#c
{
    background: #D9D9D9; text-align: center;
    padding-top: 5%; padding-bottom: 5%;
    float: left;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#d
{
    background: #F2F2F2; text-align: center;
    padding-top: 5%; padding-bottom: 5%;
    float: left;
    width: 100%;
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

#info
{
    opacity: 1;
    animation: fade 1s linear;
}

@keyframes fade
{
    0% {opacity: 0}
    100% {opacity: 1}
}
